* {
    font-family: 'Courier New', Courier, monospace;
}
#header {
    display: block;
    z-index: 10000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    background: rgba(12, 20, 50, 0.6);
    color: white;
}

#messages {
    display: block;
    margin-top: 160px;
}

.message {
    display: block;
    background: rgba(12, 20, 50, 0.6);
    border-left: 4px solid red;
    color: #FDF6E3;
    padding: 10px;
}

.socketAnswer {
    display: block;
    background: rgba(12, 20, 50, 0.6);
    border-left: 4px solid lightgreen;
    color: #FDF6E3;
    padding: 10px;
    white-space: pre;
}
.socketAnswerLine {
    display: block;
    padding: 4px;
}
.socketAnswerKey {
    display: inline-block;
}
.socketAnswerValue {
    display: inline-block;
    padding-left: 12px;
}

#activity {
    display: block;
    padding: 5px;
    padding-right: 20px;
    font-size: 40px;
    height: 50px;
    letter-spacing: 10px;
}

#activity[class=ready] {
    background-color: lightgreen;
    color: black;
    /*
    */
}
#activity[class=unknown] {
    background-color: black;
    color: white;
}
#activity[class=ringing] {
    background-color: yellow;
    color: black;
    animation: blinker 1s linear infinite;
}
#activity[class=call] {
    background-color: white;
    color: black;
}
  
@keyframes blinker {
    25% {
        background-color: red;
        color: green;
    }

    50% {
        background-color: yellow;
        color: black;
    }

    75% {
        background-color: red;
        color: green;
    }
}

#controlsContainer[class=shown] {
    display: block;
    color: white;
}
#controlsContainer > * {
    display: inline-block;
    border: 2px solid white;
    padding: 4px;
    margin: 4px;
}

#cmdContainer[class=shown] {

}
#callContainer[class=shown] {

}
#smsContainer[class=shown] {

}
#sysContainer[class=shown] {

}


.button {
    display: inline-block;
    padding: 4px;
    border: 1px solid black;
    background-color: bisque;
    color: black;
    cursor: pointer;
}

.hidden {
    /*
    display: none;
    */
    display: none;
}

.placeholder {
    display: inline-block;
    width: 20px;
}
.placeholderText {
    display: inline-block;
    padding: 4px;
}

#deleteSmsNum {
    display: inline-block;
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
    width: 60px;
}